.titulo {
  text-align: center;
}

.herramientas{
  background:linear-gradient(#E7C5B1,#535439,#5A0609);
  border-radius: 4px;
}

#logos {
  width: 5rem;
  height: 5rem;
  margin: 5px;
}

.skil {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  border-radius: 15px;
  margin-top: 1.5rem;
  margin: 22px;
  background-color: #535439;
}