#logos{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: flex;
    z-index: 3;
  }




  .titulo{
    text-align: center;
  }

  /* .skiles{
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
  } */