<div class="container-fluid" id="estudio">
    <div class="row">
        <div class="col-8 titulo">
            <h1>Estudios</h1>
        </div>
        <div class="col-3 justify-content-center"><button *ngIf="isAdmin" (click)="Nuevo()" class="btn agregar"
                style="margin-left: 10px;margin-right: 10px;"><i class="far fa-plus-square"
                    style="justify-content: end;"></i></button></div>
    </div>
    <button *ngIf="isAdmin" data-bs-toggle="modal" data-bs-target="#exampleModalEstudio" class="btn borrar"><i
            class="fas fa-trash"></i></button>
</div>



<div class="container">
    <div class="row">
        <div *ngFor="let estudio of estudios" class="card">
            <div class="col-xl-12 col-lg-6 col-sm-12">
                <h4>{{estudio.establecimiento}}</h4>
            </div>
            <div class="col-xl-12 col-lg-6 col-sm-12">
                <p>{{estudio.logro}}</p>
            </div>
            <div class="col-xl-12 col-lg-6 col-sm-12">
                <p>{{estudio.fecha}}</p>
            </div>
            <div class="row">
                <div class="col-xl-2 col-lg-6 col-sm-12"><button *ngIf="isAdmin" (click)="Editar(estudio)"
                        class="btn editar"><i class="fas fa-hammer"></i></button>
                    <!-- <button (click)="Listar()" class="btn btn-warning">Listar</button> -->
                </div>
            </div>
        </div>
    </div>
</div>




<div class="modal fade" id="exampleModalEstudio" tabindex="-1" aria-labelledby="exampleModalLabelE" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Eliminar Estudio</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-footer" *ngFor="let estudio of estudios">
                <h5>{{estudio.establecimiento}}</h5>
                <button *ngIf="isAdmin" (click)="Delete(estudio)" class="btn btn borrar">Eliminar</button>
                <button type="button" class="btn btn" data-bs-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>