<div class="container-fluid" id="proyecto">
    <div class="row">
        <div class="col-5 titulo">
            <h3>PROYECTOS <i class="fa-regular fa-lightbulb"></i></h3>
        </div>
    </div>
    <span class="container d-flex justify-content-between">
        <button *ngIf="isAdmin" data-bs-toggle="modal" data-bs-target="#exampleModalP" class="btn btn-outline borrar"><i
                class="fas fa-trash"></i></button>
        <button *ngIf="isAdmin" (click)="Nuevo()" class="btn btn-outline agregar"><i
                class="far fa-plus-square"></i></button>
    </span>
</div>
<div class="container">
    <div class="row">
        <div class="card secciones" *ngFor="let proyecto of proyectos">
            <div class="col-xl-12 col-lg-6 col-sm-12">
                <h3> {{proyecto.nombre}} </h3>
                <h5> {{proyecto.desempenio}} </h5>
                <a href="{{proyecto.url}}" style="font-size: 2vh; color: #535439;">Visitanos</a>
            </div>
            <!-- <div class="col-xl-12 col-lg-6 col-sm-12">
                <p><a href="{{proyecto.url}}"></a></p>
            </div>
            <div class="col-xl-12 col-lg-6 col-sm-12">
                <p>{{proyecto.desempenio}}</p>
            </div>
            <div class="col-xl-12 col-lg-6 col-sm-12">
                <a class="nav-link" href="proyecto.url"></a>
            </div> -->
            <div class="row">
                <div class="col-xl-2 col-lg-6 col-sm-12"><button *ngIf="isAdmin" (click)="Editar(proyecto)"
                        class="btn editar"><i class="fas fa-hammer"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal de eliminar Proyectos -->
<div class="modal fade" id="exampleModalP" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Eliminar Proyectos</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-footer" *ngFor="let proyecto of proyectos">
                <h5>{{proyecto.nombre}}</h5>
                <button *ngIf="isAdmin" (click)="Delete(proyecto)" class="btn btn borrar">Eliminar</button>
                <button type="button" class="btn btn" data-bs-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal de eliminar Proyectos -->