<app-menu></app-menu>




<div class="text-center" *ngIf="isLogged; else loggedOut">
    <h4 style="margin: 1em;color:#F5BA33;filter: brightness(2);">
        <i class="far fa-handshake"></i> {{nombreUsuario}}
    </h4>
</div>



<ng-template #loggedOut>
    <h4 style="color:#F5BA33;filter: brightness(2);margin: 20px; " id="tostada" >
        Aún no has iniciado sesión
    </h4>
</ng-template>


<div class="container">
    <div class="row">
        <div class="col-12 ">
            <picture>
                <img class="img-fluid w-100" src="../../../assets/nicc2.webp" alt="no se muestra imagen banner"
                    id="baner" />
            </picture>
        </div>
        <div class="row mt-4" *ngFor="let persona of personas">
            <div class="col-4 d-flex justify-content-center">
                <picture>
                    <img oncontextmenu="return false;" class="img-fluid rounded-circle" src="{{persona.img}}"
                        alt="no se muestra imagen de perfil" id="perfil" />
                </picture>
            </div>


            <div class="col-8 datos">

                <h4>{{persona.nombre}} {{persona.apellido}}</h4>

                
                    <button *ngIf="isAdmin" (click)="Editar(persona)"
                        class="btn btn-outline-dark d-flex justify-content-start m-4 editar"><i
                            class="fas fa-hammer"></i></button>
               

                <h5>{{persona.titulo}}</h5>

                <div class="row">

                    <p>{{persona.hobbie}}</p>
                </div>
            </div>
        </div>
    </div>
</div>




<!-- centramos columna y luego aplicamos breakpoints en columna para cambiar su disposicion by Nahu-->