@media(max-width:800px) {
    #baner {
        display: none;
    }
}

@media(max-width:1200px) {
    .datos {
        display: none;
    }
}

@media(max-width:800px) {
    #perfil {
        display: none;
    }
}

#perfil {
    width: 250px;
    height: 250px;
    z-index: 3;
    margin: 5px;
}





@media(max-width:280px)
{
    #tostada
    {
        display: none;
    }
}


.datos
{
    color:#F5BA33;
}


#baner
{
    border: solid 1px #AF36FF;
    box-shadow:0 0 45px;
}