@media(max-width:800px){
    #baner{
        display:none;
    }
}

@media(max-width:800px){
    .datos{
        display:none;
    }
}

@media(max-width:800px){
    #perfil{
        width: auto;
        height: auto;
    }
}



#perfil{
    width: 250px;
    height: 250px;
    display: flex;
    z-index: 3;
    margin: 5px;
  }

  .container{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  

  /* .estilo{
      border: 2px solid brown;
      margin-top: 11px;   
      padding-bottom: 11px;
      font-style: oblique;
  } */