<app-menu></app-menu>




<div *ngIf="isLogged; else loggedOut">
    <h4 style="color: lightblue ;">
        <i class="far fa-handshake"></i> {{nombreUsuario}}
    </h4>
</div>



<ng-template #loggedOut>
    <h4 style="color: lightblue;">
        Inicia sesion <i class="fas fa-exclamation"></i>
    </h4>
</ng-template>





<div class="container">
    <div class="row">
        <div class="col-12">
            <picture>
                <img class="img-fluid" src="../../../assets/nicc2.jpg" alt="no se muestra imagen banner" id="baner">
            </picture>
        </div>
        <div class="row" *ngFor="let persona of personas">
            <div class="col-8 d-flex justify-content-center">
                <picture>
                    <img oncontextmenu="return false;" class="img-fluid rounded-circle" src="{{persona.img}}"
                        alt="no se muestra imagen de perfil" id="perfil" />
                </picture>
            </div>
            <h4 class="row d-flex justify-content-center">{{persona.nombre}} {{persona.apellido}}</h4>
            <div class="col-4 datos">
                <div style="margin: 20px;" class="row d-flex justify-content-center">
                    <h3>{{persona.titulo}}</h3>
                </div>
                <div class="row d-flex justify-content-center">
                    <!-- centramos columna y luego aplicamos breakpoints en columna para cambiar su disposicion by Nahu-->
                </div>
            </div>
            <div style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;"
                class="col-xl-12 col-lg-6 col-md-8 col-sm-8 col-10 datos">
                {{persona.hobbie}}
            </div>
            <div class="col">
                <button *ngIf="isAdmin" (click)="Editar(persona)" class="btn editar"><i
                        class="fas fa-hammer"></i></button>
            </div>
        </div>
    </div>
</div>