<div class="container text-center d-flex justify-content-center">
  <div class="row">
    <h2>Agregar Skill</h2>
    <div class="col">
      <form action="">
        <div class="row">
          <div class="form-group">
            <label for="">Nombres:</label>
            <input [(ngModel)]="skill.nombre" name="nombre" type="text" class="form-control">
          </div>
        </div>
        <div class="row">
          <div class="form-group">
            <label for="">Progress %</label>
            <input [(ngModel)]="skill.progress" name="progress" type="number" class="form-control">
          </div>
        </div>
        <div class="row">
          <div class="form-group">
            <label for="">Imagen:</label>
            <input [(ngModel)]="skill.img" type="file" accept="image/*" alife-file-to-base64
              (onFileChanged)="obtener($event)" name="img" class="form-control">
          </div>
        </div>
        <div class="row">
          <div class="form-group">
            <label for="">Nivel:</label>
            <input placeholder="Tipee basico/intermedio o avanzado" [(ngModel)]="skill.nivel" name="nivel" type="text"
              class="form-control">
          </div>
        </div>
        <button style="margin:2em;" (click)="Guardar()" class="btn btn-danger">Guardar</button>
          <button (click)="Cancel()" class="btn btn-secondary">Cancelar</button>
      </form>
    </div>
  </div>
</div>