<div class="container-fluid" id="experiencia">
    <div class="row">

        <div class="col-8 titulo">
            <h2>Experiencias</h2>
        </div>

        <div class="col-4 justify-content-center">
            <button *ngIf="isAdmin" (click)="Nuevo()" class="btn agregar"><i class="far fa-plus-square"></i></button>
        </div>

    </div>
    <button *ngIf="isAdmin" class="btn btn borrar" data-bs-toggle="modal" data-bs-target="#exampleModalXp"><i
            class="fas fa-trash"></i></button>

</div>


<div class="container">
    <div class="row">
        <div *ngFor="let experiencia of experiencias" class="card secciones">
            <div class="col-xl-12 col-lg-6 col-sm-12">
                <h4>{{experiencia.nombre}}</h4>
            </div>
            <div class="col-xl-12 col-lg-6 col-sm-12">
                <p>{{experiencia.puesto}}</p>
            </div>
            <div class="col-xl-12 col-lg-6 col-sm-12">
                <p>{{experiencia.fecha}}</p>
            </div>
            <div class="row">
                <div class="col-xl-2 col-lg-6 col-sm-12"><button *ngIf="isAdmin" (click)="Editar(experiencia)"
                        class="btn editar"><i class="fas fa-hammer"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal de eliminar Experiencias -->

<div class="modal fade" id="exampleModalXp" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Eliminar Experiencia</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-footer" *ngFor="let experiencia of experiencias">
                <h5>{{experiencia.nombre}}</h5>
                <button *ngIf="isAdmin" (click)="Delete(experiencia)" class="btn btn borrar">Eliminar</button>
                <button type="button" class="btn btn" data-bs-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>