<nav class="navbar navbar-expand-lg navbar-dark mb-4">
  <div class="container-fluid">
    <picture>
      <a href="https://discord.gg/argentinadeveloper"><img class="img-fluid" src="../../../assets/Mi proyecto.png"
          alt="Logo de AP" id="server" /></a>
    </picture>
    <code style="color: #C98025; font-size: 3vh;">Bienvenidos a mi porfolio</code>

    <ul class="nav" id="links">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown"
          aria-expanded="false" style="color:#C98025; font-size: 2.2vh;">
          Menú
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="background-color: #E7C5B1;">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#estudio" style="color: #C6480D;">Estudio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#experiencia" style="color: #C6480D;">Experiencia</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#skill" style="color: #C6480D;">Skill</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#proyecto" style="color: #C6480D;">Proyecto</a>
          </li>
        </ul>
      </li>

      <li class="nav-item" *ngIf="!isLogged">
        <a class="nav-link" routerLink="/login"
          style="cursor: pointer;color:#E7C5B1;border: solid 1px white;border-radius: 5px;"><i class="far fa-user"></i>
          Iniciar
          Sesión</a>
      </li>
      <li class="nav-item" *ngIf="isLogged" (click)="onLogOut()">
        <a class="nav-link" style="cursor: pointer;color:#fff;"><i class="fas fa-door-open"></i></a>
      </li>
    </ul>
  </div>
</nav>

<!-- En 1302px Quitar el boton Redes sociales -->