@media (max-width: 991px) {
    #icono {
        display: none;
    }
}

@media(max-width:353px){
    .bienvenido{
        display: none;
    }
}

@media(max-width:280px){
    #links{
        display: none;
    }
}

@media(max-width:280px)
{
    #ap
    {
        display: none;
    }
}

@media(max-width:280px)
{
    #sociales
    {
        display: none;
    }
}


@media(max-width:280px)
{
    #navbarDropdownMenuLink
    {
        display: none;
    }
}



#links{
    display: flex;
    justify-content: space-between;
}


#ap 
{
    max-width: 250px;
    max-height: 150px;
}

#server
{
    max-width: 150px;
}