<nav class="navbar navbar-expand-lg navbar-dark mb-4">
  <div class="container-fluid">
    <picture>
      <img class="img-fluid" src="../../../assets/APLogo.png" alt="Logo de AP" id="ap" />
      <img class="img-fluid" src="../../../assets/Mi proyecto.png" alt="Logo de AP" id="server"  />
    </picture>
    <code style="color: #2ff;" >Bienvenidos a mi porfolio</code>

    <ul class="nav" id="links">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown"
          aria-expanded="false" style="color:darkseagreen">
          Menú
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#estudio">Estudio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#experiencia">Experiencia</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#skill">Skill</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#proyecto">Proyecto</a>
          </li>
        </ul>
      </li>

      <li class="nav-item" *ngIf="!isLogged">
        <a class="nav-link" routerLink="/login"
          style="cursor: pointer;color:#fff;border: solid 1px white;border-radius: 5px;"><i class="far fa-user"></i>
          Iniciar
          Sesión</a>
      </li>
      <li class="nav-item" *ngIf="isLogged" (click)="onLogOut()">
        <a class="nav-link" style="cursor: pointer;color:#fff;"><i class="fas fa-door-open"></i></a>
      </li>
    </ul>
  </div>
</nav>

<!-- En 1302px Quitar el boton Redes sociales -->