/* You can add global styles to this file, and also import other style files */

/* .container-fluid {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  border-radius: 15px;
  color: black;
  padding: 10px;
  padding-top: 2.5rem;
  margin-top: 1.5rem;
} */


.container {
  width: 100%;
  height: 100%;
  display: flex;
  border: solid 5px;
  overflow: hidden;
}


body {
  background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
  margin: 15px;
}


/* BOTONES */

.editar {
  margin-right: 10px;
  color: #02d826;
  /*   color: green; */
}

.borrar {
  color: #d80234;
  /*   color: greenyellow; */
}

.agregar {
  size: 100vh;
}

/* BOTONES */



label{
  font-size: 4vw;
}