/* You can add global styles to this file, and also import other style files */


.container {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  border-radius: 15px;
  margin-top: 1.5rem;
  background-color:#a1ac88;
}


h1,
h2,
h3,
h5,
p {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 19px;
  color: #fff;
}






.card {
  text-align: center;
  background-color: #a1ac88;
  padding-bottom: 15px;
  clip-path: polygon(0% 0%,
      100% 0%,
      100% calc(100% - 15px),
      0% 100%);
}


body {
  background-color: #464d70;
}


/* BOTONES */


.editar {
  border: solid 1px #fff;
}

.borrar {
  color: #fff;
  border: solid 1px blue;
  background-color: #401c2a;
  margin-left: 4rem;
}

.agregar {
  size: 100vh;
  border: solid 2px greenyellow;
  margin: 10px;
}

/* BOTONES */


label {
  font-size: 4vw;
}


/* MODAL SECCION ELIMINAR */
.modal-header {
  background-color: blue;
}

.modal-footer {
  display: flex;
  justify-content: between;
  background-color: #61617a;
}

/* MODAL SECCION ELIMINAR */



#logos {
  filter: brightness(1.1);
  mix-blend-mode: multiply;
  width: 100px;
}