/* You can add global styles to this file, and also import other style files */


.secciones 
{
  max-width: 45%;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  border-radius: 15px;
  margin: 5px;
  margin-top: 1.5rem;
  padding: 25px;
  background-color: #E7C5B1;
  padding-bottom: 15px;
  text-align: center;
  clip-path: polygon(0% 0%,
      100% 0%,
      100% calc(100% - 15px),
      0% 100%);
}


body 
{
  background-color: #5A0609;
}

h4,h5
{
  font-size: 2vh;
  color: #535439;
}

h3,h2,h1
{
  color:#C6480D;
  filter: brightness(2);
  margin: 5px;
}

/* BOTONES */

.editar 
{
  border: solid 1px #fff;
  margin: 5px;
}

.borrar 
{
  color: #fff;
  border: solid 1px #AF36FF;
  filter: brightness(3);
}

.agregar 
{
  size: 100vh;
  border: solid 2px greenyellow;
  margin: 10px;
  filter: brightness(1);
}

/* BOTONES */

label 
{
  font-size: 4vw;
}

/* MODAL SECCION ELIMINAR */
.modal-header 
{
  background-color: #AF36FF;
}

.modal-footer 
{
  display: flex;
  justify-content: between;
  background-color: #FF7836;
}

/* MODAL SECCION ELIMINAR */

#logos 
{
  filter: brightness(1.1);
  mix-blend-mode: multiply;
  width: 100px;
}