<app-main></app-main>
<app-proyecto></app-proyecto>
<app-experiencia></app-experiencia>
<app-estudio></app-estudio>
<app-skill></app-skill>


<div class="d-flex justify-content-between">
    <a class="nav-link" href="https://discord.gg/xWy6K99P2T" style="color: gold ;"><i class="fab fa-discord"></i>
        Discord</a>
    <a class="nav-link" href="mailto:nicolas.esteban.suare@hotmail.es?Subject=Hola%20Nico%20que%20tal"
        style="color: gold ;"><i class="fas fa-envelope"></i> Mail</a>
    <a class="nav-link" href="https://www.linkedin.com/in/iamnicolas/" style="color: yellow ;"><i class="fab fa-linkedin-in"></i>
        Linked-in</a>
</div>